name: Test

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  Run_Tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4     

      - name: Configure CMAKE
        run: cd tests/ && cmake -S . -B bin/Debug -DCMAKE_BUILD_TYPE=Debug

      - name: Run Make
        run: cmake --build tests/bin/Debug --clean-first     

      - name: Run Tests
        run: tests/bin/Debug/BigInt_gtest --gtest_color=no --gtest_filter=*-Test_BigInt_Performance.*

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          
